{% extends "template.html" %}

{% block body_content %}
<div>
    <form method="POST"
          action="{{ url_for('home_page') }}">
        <input type="text"
               name="location"
               placeholder="Location">
        <button type="submit">submit</button>
        {% if error %}
        <p style="color:red;">Invalid location.</p>
        {% endif %}
    </form>
</div>

<div class="history-section">
    <form method="POST" action="{{ url_for('home_page') }}">
        <h2>History:</h2>
        <button type="submit">View History</button>
    </form>
</div>

{% endblock %}
